.customScroll::-webkit-scrollbar {
  width: 10px;
}

.customScroll::-webkit-scrollbar-track {
  background: rgb(226 232 240); 
}

.customScroll::-webkit-scrollbar-thumb {
  background: rgb(148 163 184); 
}

.shadow-m{
  box-shadow: 0 0 5px #ccc;
}