.customScroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  background: rgb(226 232 240); 
}
 
/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: rgb(148 163 184); 
}